<html>
    <head>
        <title>Mark's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mark's Blog</a></h1>
        </div>

        <div>
            <p>published: 11.26.2018, 10:56</p>
            <h2><a href="">My first post</a></h2>
            <p>Donec ut dui pulvinar, varius risus eget, fringilla libero. Cras</p>
        </div>

        <div>
            <p>published: 11.26.2018, 10:56</p>
            <h2><a href="">My first post</a></h2>
            <p>Vivamus ut nibh arcu. In suscipit, ipsum a pretium tristique.</p>
        </div>
    </body>
</html>
